body{
    background-color: burlywood;
    color:red;
}
body{
    background-color: wheat;
}


   body{/* un dégrader de couleur  qui fini avec la seconde couleur par defaut de haut en bas*/
    background: linear-gradient,blue white)
   }

.block{
    display: block;
    
}

img {
    border: 10px solid rebeccapurple;
}