
body {
    background-color: #7f78d2;
    border: 1px solid black;
    margin: 10px auto;
    width: 80%;
}

#contenu {
    background-color: pink;
    border: 2px solid rgb(51, 10, 201);
}

header,footer{
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    background-color: darkturquoise;
    text-align: center;
    padding-top: 10px;
}

/*les styles pour la navigation de l'élément nav*/
nav{
    height: 60px;
    background-color: gainsboro;
    padding-left: 40px;
}

/*pour pointer les li qui sont dans la balise nav*/
nav li{
    display: inline;
    padding: 20px;
}

nav li a{

    color: cornsilk;
    background-color: gray;
    padding: 2px;
    text-decoration: none;
    
}
nav ul{
    /*pour etre certain de ne pas avoir de puces dans cette ul*/ 
    list-style: none;
   
    
}

section{
    border:20px solid whitesmoke;
    height: 500px;
    text-align: center;
}
/*le lien au survol de la souris*/
nav li a:hover{
    color: darkgreen;
    background-color: darkslateblue;
}
/*le liens selectionné*/
nav li a:active{
    background-color: red;
}

/* visited: le bouton s'allume quand on a deja visité la page*/
nav li a:visited{
     background-color: khaki; 
}
