
body {
    background-color: #7f78d2;
    border: 1px solid black;
    margin: 10px auto;
    width: 80%;
}

#contenu {
    background-color: pink;
    border: 2px solid rgb(51, 10, 201);
}
header,footer{
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    background-color: darkturquoise;
    text-align: center;
    padding-top: 10px;
}
nav{
    height: 60px;
    background-color: gainsboro;
    padding-left: 40px;
}
section{
    border:20px solid whitesmoke;
    height: 500px;
    text-align: center;
}
