body {
    background-color: tomato;
   
    
}

.case0, .case1, .case2, .case3, .case4{
    width: 100px;
    height: 100px;
    float: left;
    border: black 2px solid;
    border-radius: 20%;
    text-align: center;
    margin: 5px;   
}

.empty{
        background-color: transparent;
        opacity: 0.2;
        width: 100px;
        height: 100px;
        float: left;
        border:5px solid transparent;
        text-align: center;
        margin: 5px;   
}




.case1 {
    background-color: green;
    border-top-left-radius:5% ;
     
}

.case0{
    background-color: red;
    border-radius: 25px  50px 25px 50px ;
}
.case2{
    background-color: skyblue;
    border-radius: 75px 50px 75px 50px;
}

.case4{
    background-color: springgreen;
    border-radius: 50% 35% 50% 35%;
}

.case3{
    background-color: rosybrown;
}



       

.clear{
    clear: both;
}